In [ ]:
#Importing Libraries 
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [ ]:
"""
'nandi','narok','nyamira','nyandarua','nyeri', 'samburu','siaya','taita-taveta','tana-river','tharaka-nithi', 'trans nzoia','turkana','uasin-gishu','vihiga','wajir','west-pokot'
"""

In [ ]:
# List of counties ()
counties = ['nandi','narok','nyamira','nyandarua','nyeri', 
            'samburu','siaya','taita/taveta','tana river',
            'tharaka nithi', 'trans nzoia','turkana','uasin-gishu',
            'vihiga','wajir','west-pokot']  

# List of months
months = ['january', 'february', 'march', 'april', 'may', 'june', 
          'july', 'august', 'september', 'october', 'november', 'december']

# List of years from 2010 to 2011
years = list(range(2010, 2012))

# Initialize an empty DataFrame to store all data
all_data = pd.DataFrame()

# Loop through each county, year, and month
for county in counties:
    for year in years:
        for month in months:
            # Construct the URL
            url = f'https://weatherandclimate.com/{county}/{month}-{year}'
            
            # Send request to the URL
            response = requests.get(url)
            soup = BeautifulSoup(response.text, 'html.parser')
            
            # Extract the first table containing the relevant data
            tables = soup.find_all('table')
            if tables:
                first_table = tables[0]  # Get the first table
                
                # Extract the relevant data from the first table
                temperature_data = {}
                rows = first_table.find_all('tr')
                for row in rows:
                    cells = row.find_all('td')
                    if len(cells) > 1:  # Ensure there are enough cells in the row
                        label = cells[0].text.strip()
                        value = cells[1].text.strip()
                        if 'Max Temperature' in label:
                            temperature_data['Max Temperature'] = value
                        elif 'Avg Temperature' in label:
                            temperature_data['Avg Temperature'] = value
                        elif 'Min Temperature' in label:
                            temperature_data['Min Temperature'] = value
                        elif 'Dew Point' in label:
                            temperature_data['Dew Point'] = value
                        elif 'Precipitation' in label:
                            temperature_data['Precipitation'] = value  # Adjusted to extract from cell 1
                        elif 'Wind' in label:
                            temperature_data['Wind'] = value
                        elif 'Sea Level Pressure' in label:
                            temperature_data['Sea Level Pressure'] = value
                
                # Append the extracted data to the DataFrame
                df = pd.DataFrame({
                    'County': [county],
                    'Month': [month.capitalize()],
                    'Year': [year],
                    'Max Temperature': [temperature_data.get('Max Temperature', None)],
                    'Avg Temperature': [temperature_data.get('Avg Temperature', None)],
                    'Min Temperature': [temperature_data.get('Min Temperature', None)],
                    'Dew Point': [temperature_data.get('Dew Point', None)],
                    'Precipitation': [temperature_data.get('Precipitation', None)],
                    'Wind': [temperature_data.get('Wind', None)],
                    'Sea Level Pressure': [temperature_data.get('Sea Level Pressure', None)]
                })
                
                all_data = pd.concat([all_data, df], ignore_index=True)

# Save the DataFrame to a CSV file
all_data.to_csv('Data/kenya_weather_data_2010_2011.csv', index=False)

print("Data extraction complete. Saved to 'kenya_weather_data_2010_2011.csv'.")

In [8]:
# Combine the files
df1 = pd.read_csv('Data/kenya_weather_data_2010_2011.csv')
df2 = pd.read_csv('Data/kenya_weather_data_2012_2020.csv')

In [9]:
df1.head()

,County,Month,Year,Max Temperature,Avg Temperature,Min Temperature,Dew Point,Precipitation,Wind,Sea Level Pressure
0,nandi,January,2010,32.0°C (89.6°F),25.0°C (77.0°F),16.0°C (60.8°F),16.0°C (60.8°F),44.2mm | 1.74in,23.0kmh | 14.29mph,44.2mb
1,nandi,February,2010,32.0°C (89.6°F),26.0°C (78.8°F),17.0°C (62.6°F),17.0°C (62.6°F),42.6mm | 1.68in,19.0kmh | 11.81mph,42.6mb
2,nandi,March,2010,31.0°C (87.8°F),25.0°C (77.0°F),18.0°C (64.4°F),17.0°C (62.6°F),87.6mm | 3.45in,25.0kmh | 15.53mph,87.6mb
3,nandi,April,2010,29.0°C (84.2°F),23.0°C (73.4°F),17.0°C (62.6°F),19.0°C (66.2°F),70.2mm | 2.76in,13.0kmh | 8.08mph,70.2mb
4,nandi,May,2010,26.0°C (78.8°F),22.0°C (71.6°F),17.0°C (62.6°F),18.0°C (64.4°F),107.7mm | 4.24in,11.0kmh | 6.84mph,107.7mb

In [13]:
df2.head()

,County,Month,Year,Max Temperature,Avg Temperature,Min Temperature,Dew Point,Precipitation,Wind,Sea Level Pressure
0,nandi,January,2012,31.0°C (87.8°F),25.0°C (77.0°F),16.0°C (60.8°F),13.0°C (55.4°F),2.0mm | 0.08in,33.0kmh | 20.51mph,2.0mb
1,nandi,February,2012,31.0°C (87.8°F),25.0°C (77.0°F),16.0°C (60.8°F),14.0°C (57.2°F),11.3mm | 0.44in,36.0kmh | 22.37mph,11.3mb
2,nandi,March,2012,32.0°C (89.6°F),25.0°C (77.0°F),16.0°C (60.8°F),15.0°C (59.0°F),9.1mm | 0.36in,22.0kmh | 13.67mph,9.1mb
3,nandi,April,2012,29.0°C (84.2°F),24.0°C (75.2°F),17.0°C (62.6°F),17.0°C (62.6°F),35.1mm | 1.38in,13.0kmh | 8.08mph,35.1mb
4,nandi,May,2012,26.0°C (78.8°F),21.0°C (69.8°F),16.0°C (60.8°F),17.0°C (62.6°F),46.9mm | 1.85in,11.0kmh | 6.84mph,46.9mb

In [14]:
# Merge the dataframes

merged_df = pd.concat([df1, df2], ignore_index=True)

In [16]:
merged_df.head()

,County,Month,Year,Max Temperature,Avg Temperature,Min Temperature,Dew Point,Precipitation,Wind,Sea Level Pressure
0,nandi,January,2010,32.0°C (89.6°F),25.0°C (77.0°F),16.0°C (60.8°F),16.0°C (60.8°F),44.2mm | 1.74in,23.0kmh | 14.29mph,44.2mb
1,nandi,February,2010,32.0°C (89.6°F),26.0°C (78.8°F),17.0°C (62.6°F),17.0°C (62.6°F),42.6mm | 1.68in,19.0kmh | 11.81mph,42.6mb
2,nandi,March,2010,31.0°C (87.8°F),25.0°C (77.0°F),18.0°C (64.4°F),17.0°C (62.6°F),87.6mm | 3.45in,25.0kmh | 15.53mph,87.6mb
3,nandi,April,2010,29.0°C (84.2°F),23.0°C (73.4°F),17.0°C (62.6°F),19.0°C (66.2°F),70.2mm | 2.76in,13.0kmh | 8.08mph,70.2mb
4,nandi,May,2010,26.0°C (78.8°F),22.0°C (71.6°F),17.0°C (62.6°F),18.0°C (64.4°F),107.7mm | 4.24in,11.0kmh | 6.84mph,107.7mb

In [17]:
# Save the merged DataFrame to a new CSV file
merged_df.to_csv('Data/kenya_climate_data_2010_2020.csv', index=False)